#bt_master_card {
  background-size: cover; 
  background-image: url('/images/MasterCard.png');
  background-position: center;  
  background-color: #e0e0e0;
  color: #000;
  padding: 10px 20px;
  border: none;
  width: 50px;
  height: 25px;  
  cursor: pointer;
}
#bt_master_card:hover {
  background-color: #a0a0a0;
  color: #fff;
}

.container {
    display: flex;
  }

.column {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000;
  }

.column:first-child {
    flex-grow: 3;
  }

.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
max-width: 150px; 
}

.grid-item {
border: 1px solid #000;
}

.grid-item img {
display: block;
max-width: 100px;
max-height: 100px;
} 
