.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1px;
  font-size: 20px;  
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 9998;
}

.links{
  margin-left: 220px;
  text-decoration: none;  
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 40px;
  display: none;
  color: black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.linkContainer{  
  background-color: #cecbcb;
  border-radius: 25px;
  padding: 10px;  
}
.links a{
  margin-right: 20px;
  border-radius: 40px;
  padding: 10px;  
  color: black;
}
.navbarLeft a{
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}
.navbarCenter{  
  margin-right: 100px;
  flex-grow: 1;
  text-align: center;
}
.navbarRigth a{
  margin-left: 10px;
  color: #333;
}
.navbar a:hover {  
  text-shadow: 2px 2px 4px #000000;
}
.links a:hover {
  text-shadow: 2px 2px 4px #000000;
}
.navbar h1:hover{
  text-shadow: 2px 2px 4px #000000;
}
.hide{display: none;}

/*---------------------------  */
/*-------  Media   ----------- */
/*---------------------------  */
@media screen and (max-width: 600px)
{
  .navbarLeft {display: none;}
  .navbarRigth {display: none;}  
  .navbarCenter {margin-right: 0px;}
  .links{display:block;}
}