 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgb(234, 232, 232);
    color: whiote;
    margin: auto;
    padding: 20px;
    border: 1px solid #d3d4cc;
    width: 80%;
    height: 40%;
  }

  .container {
    display: flex;
  }

.column {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000;
  }

.column:first-child {
    flex-grow: 3;
  }

.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
max-width: 150px; 
}

.grid-item {
border: 1px solid #000;
}

.grid-item img {
display: block;
max-width: 100px;
max-height: 100px;
} 