<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
   
    <style>
        footer {
          text-align: center;
          padding: 3px;
          background-color: rgb(15, 14, 13);
          color: white;
        }
        .footer_rigth a{
      margin-left: 50px;
      color: #9333ea;
      text-decoration: none;
    }
    p {
      color: white; 
      font-family: 'Wallpoet', cursive; 
    }
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">s
</head>
<body>
   
    <footer>
        <p>Kashikoi <br> Electronics</p>
        <div class="footer_rigth" id="rigth">
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
          </div>
      
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
      </footer>
</body>
</html>
